body{
    width:90%;
    margin: 0 auto;
}

.cointainer {
   margin-top: 200px ;
   text-align: center;
}

img {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

.image__text{
    display: flex;
    flex-direction: column;
    justify-content: initial;
    margin: 50px 0 50px 0;
}

.div__text {
    width: 100%;
    text-align: center;
}

.div__text p {
    font-size: 1.3rem
}

.div__text a {
    font-size: 1.2rem;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 2rem;
    font-weight: 500;
}
h3{
    font-size: 1.9rem;
}
h4{
    font-size: 1.7rem;
}
.conditions__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.condition {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.condition h4 {
    text-align: center;
}

.imgH{
    height:209px !important;
}
.adeno{
    height: 169px !important;
}
nav{
    margin-top: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .conditions__grid{
        grid-template-columns: 1fr;
    }
    nav{
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}